/*********************************************

Styling

**********************************************/
/* Spectral font */
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Averia Guesa Libre font */
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spectral', serif;
}

/* Make selection white */
::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}

/* Make item non-selectable */
.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body {
    /* overflow: hidden; */
}

#book-container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    /* background: red; */
    justify-content: center;
    align-items: center;
}

.page {
    /* width: 400px; */
    /* height: 500px; */
}

#left-page {
    background: red;

}

#right-page {
    background: orange;
}

#book-arrows {
    /* display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: -5; */
    /* position: fixed; */
}

.arrow-buttons {
    all: unset;
    cursor: pointer;

    /* position: fixed; */
}

#left-arrow {
    /* margin-left: 10vw; */
    position: fixed;
    left: 10vw;
}

#right-arrow {
    /* margin-right: 10vw; */
    position: fixed;
    right: 10vw;
}

#left-arrow img:hover,
#right-arrow img:hover {
    width: 90px;
}


/* START HERE FOR PAGE FLIPPING TUTORIAL */
/* https://www.youtube.com/watch?v=A5fdu8HZKic */
canvas {
    position: fixed;
    z-index: -1000;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #fff 50%, #4a1010 50%);
}

input[type="checkbox"] {
    display: none;
}

img {
    width: 100%;
    height: 100%;
}

.flip img {
    position: fixed;
}

.book {
    display: flex;
    /* move book right:temporary solution to displaced book */
    transform: translate(50%, 0px);
}

#cover-page {
    /* width: 450px;
    height: 600px;
    position: absolute;
    z-index: */
}

#back-cover {
    /* move cover left:temporary solution to displaced book */
    transform: translate(-100%, 0px);
    z-index: -1;
}

.flip-book {
    width: 450px;
    /* height: 600px; */
    position: relative;
    perspective: 1500px;
}

.flip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 0.5s;
    color: #000;
}

p {
    font-size: 14px;
    line-height: 24px;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* even paler yellow */
    background: linear-gradient(90deg, #FFF6D9, #FFFCF2 20%);
    /* background-color: #FFFCF2; */
    /* box-sizing: border-box; */
    /* padding: 0 20px; */
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5) 0 2px 5px rgba(0, 0, 0, 0.5);

}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    /* yellowish color */
    background-color: #FFF6D9;
    background: linear-gradient(90deg, #FFFCF2, #FFF6D9 90%);
    /* padding: 0 20px; */
    color: #000;
}

.next-btn {
    position: absolute;
    bottom: 30px;
    right: 50px;
    cursor: pointer;
}

.back-btn {
    position: absolute;
    bottom: 30px;
    left: 50px;
    cursor: pointer;
}

.cover-title {
    margin-top: 75px;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 70px;
    width: 100%;
    height: 70%;

    font-family: 'Averia Gruesa Libre', cursive;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
}

.prompt {
    margin-top: 190px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4rem;
    font-style: italic;
    font-weight: 400;
    padding: 0 110px;
    width: 100%;

    position: absolute;
}

.pageText {
    /* margin-top: 75px; */
    font-size: 1.7em;
    text-align: center;
    line-height: 2rem;
    margin-top: 250px;

    position: absolute;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 0 70px;
    width: 100%;
    height: 45%;
}

.freeze-message-box {
    margin-top: 140px;
    position: absolute;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    padding: 0 70px;
    width: 100%;
    /* height: 80%; */
    text-align: center;
}

.freeze-message {
    width: 100%;
    height: 180px;

    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 13px;
    padding-top: 15px;
    margin-top: 100px;
    text-align: center;
    border: 2px solid black;
}

#message-form {
    margin-top: 140px;
    position: absolute;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    padding: 0 70px;
    width: 100%;
    height: 80%;
    text-align: center;
}

textarea.messageInputText {
    /* width: 220px; */
    width: 100%;
    height: 180px;

    font-size: 1.5rem;
    line-height: 2rem;
    resize: none;
    padding: 10px;
    margin-top: 100px;
    background: none;
    text-align: center;
}

textarea.promptInputText {
    /* Hide initially */
    display: none;

    width: 100%;
    height: 90px;

    resize: none;
    padding: 10px;
    margin-top: 5px;
    background: none;

    font-size: 1.1rem;
    line-height: 1.3rem;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

#submit-text-button {
    /* Hide initially */
    display: none;

    font-size: 1rem;
    padding: 3px 10px;
    margin-top: 10px;
}


#submit-text-button:hover {
    cursor: pointer;
}

#open-prompt-button {
    font-size: 1rem;
    padding: 3px 10px;
    margin-top: 10px;
}

#open-prompt-button:hover {
    cursor: pointer;
}






/* #p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#c1:checked~.flip-book #p1 {
    transform: rotateY(-180deg);
    z-index: 1;
}

#c2:checked~.flip-book #p2 {
    transform: rotateY(-180deg);
    z-index: 2;
}

#c3:checked~.flip-book #p3 {
    transform: rotateY(-180deg);
    z-index: 3;
} */